<div id="card_deck" class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/assets/images/horizon_zero.jpg" alt="Horizon Zero Dawn card image cap">
        <div class="card-block">
            <h4 class="card-title">A Seeker's Journey</h4>
            <p class="card-text">Watch me play as Aloy through the campaign and more.</p>
            <a href="https://www.youtube.com/watch?v=ghhRlEJLyn8&list=PLuyfARo7UK3SHkdp0HDUSrPBDwjVXqakA">Kanji in Da Wild</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" style="border-bottom: 1px solid lightgrey;" src="/assets/images/overwatch.png" alt="Overwatch card image cap">
        <div class="card-block">
            <h4 class="card-title">Heroes stand tall</h4>
            <p class="card-text">Watch me try and climb the competitive ranks.</p>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3RluRtemjXng8Jsj6GHtU5d">Multiplayer Fun</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/forHonor.jpg" alt="For Honor card image cap">
        <div class="card-block">
            <h4 class="card-title">Knights vs Vikings vs Samurai</h4>
            <p class="card-text">Watch me play through the campaign and compete in online matches.</p>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3R0XBkf2q3H2rwxF7xWAuC5">Combat at its finest.</a>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/assets/images/Titanfall.png" alt="Titanfall card image cap">
        <div class="card-block">
            <h4 class="card-title">One man and his Titan</h4>
            <p class="card-text">Watch me play through the campaign or struggle in multiplayer.</p>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3TBId48F04tNHdg_1iweUlc">Campaign Series</a><br>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3TFxHPMQIp9Ol-yu2gTfK1K">Multiplayer Clips</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/Gears.png" alt="Gears card image cap">
        <div class="card-block">
            <h4 class="card-title">Gears With Peers</h4>
            <p class="card-text">Watch highlights from gameplay with friends.</p>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3QbxLcjIdnTzmwEjJi4wEH8">Gears of War 4</a><br>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3T2jWod2h-bRw7xD_ZJdmRz">Flashback: Gears of War 3</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/madden17.jpg" alt="Madden 17 card image cap">
        <div class="card-block">
            <h4 class="card-title">Madden 17 : NerdUp CFM</h4>
            <p class="card-text">Watch my compete against friends.</p>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3Qce7IScJXscevjCqH53aVF">Madden 17</a><br>
            <a href="https://www.youtube.com/playlist?list=PLuyfARo7UK3Qy4kiW9CCzDwCpT77LXFq_">Flashback: Madden 16</a>
        </div>
      </div>
    </div>
  </div>
</div>
