<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <a routerLink="/" class="navbar-brand">
    <img id="logo" src="/assets/images/kanji520.png">
  </a>
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a id="navbarDropdownMenuYouTube"
           class="nav-link dropdown-toggle clickable" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-youtube-square" aria-hidden="true"></i>YouTube</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a *ngFor="let link of getYouTubeLinks();"
             class="dropdown-item" href="{{link.address}}">{{link.name}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a id="navbarDropdownMenuTwitch"
           class="nav-link dropdown-toggle clickable" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-twitch" aria-hidden="true"></i> Twitch</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a *ngFor="let link of getTwitchLinks();"
             class="dropdown-item" href="{{link.address}}">{{link.name}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/kanji_520">
          <i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" data-toggle="modal"
           data-target="#myModal">Gamer Tags</a>
      </li>
    </ul>
  </div>
</nav>
