<mat-grid-list cols="3" rowHeight="75px">
  <mat-grid-tile colspan=1 rowspan=6>
    <mat-card class="kanji-card">
      <mat-card-header>
        <mat-card-title>Knights vs Vikings vs Samurai</mat-card-title>
        <mat-card-subtitle>Watch me play through the campaign and compete in online matches.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/forHonor.jpg" alt="For Honor card image">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3R0XBkf2q3H2rwxF7xWAuC5">Combat at its finest</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=4>
    <mat-card class="kanji-card">
      <mat-card-header>
        <mat-card-title>A Seeker's Journey</mat-card-title>
        <mat-card-subtitle>Watch me play as Aloy through the campaign and more.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/horizon_zero.jpg" alt="Horizon Zero Dawn card image">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.youtube.com/watch?v=ghhRlEJLyn8&list=PLuyfARo7UK3SHkdp0HDUSrPBDwjVXqakA">Kanji in Da Wild</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=4>
    <mat-card class="kanji-card">
      <mat-card-header>
        <mat-card-title>Heroes stand tall</mat-card-title>
        <mat-card-subtitle>Watch me try and climb the competitive ranks.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/overwatch.png" alt="Overwatch card image">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3RluRtemjXng8Jsj6GHtU5d">Multiplayer Fun</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=4>
    <mat-card class="kanji-card">
      <mat-card-header>
        <mat-card-title>One man and his Titan</mat-card-title>
        <mat-card-subtitle>Watch me play through the campaign or struggle in multiplayer.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/Titanfall.png" alt="Titanfall card image">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3TBId48F04tNHdg_1iweUlc">Campaign Series</a>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3TFxHPMQIp9Ol-yu2gTfK1K">Multiplayer Clips</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=4>
    <mat-card class="kanji-card">
      <mat-card-header>
        <mat-card-title>Gears With Peers</mat-card-title>
        <mat-card-subtitle>Watch highlights from gameplay with friends.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/Gears.png" alt="Gears card image">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3QbxLcjIdnTzmwEjJi4wEH8">Gears of War 4</a>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3T2jWod2h-bRw7xD_ZJdmRz">Flashback: Gears of War 3</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=4>
    <mat-card class="kanji-card">
      <mat-card-header>
        <mat-card-title>Madden 17 : NerdUp CFM</mat-card-title>
        <mat-card-subtitle>Watch me compete against friends.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/images/madden17.jpg" alt="Madden 17 card image">
      <mat-card-content></mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3Qce7IScJXscevjCqH53aVF">Madden 17</a>
        <a mat-button href="https://www.youtube.com/playlist?list=PLuyfARo7UK3Qy4kiW9CCzDwCpT77LXFq_">Flashback: Madden 16</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>