body {
    padding-top: 5rem;
    position: relative;
}
.container {
    /*margin-top: 45px;*/
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: left;
}
.row {
    margin-bottom: 1rem;
}
.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
