.jumbotron {
    position: relative;
    background-color: #000;
    background-image: url(/assets/images/eggOnCouch.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: yellow;
}
#jumbo_col {
    height: 350px;
}
